In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Kaggle/news-data.csv')

In [3]:
df.head()

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

In [4]:
df.tail()

           category                                               text
2220       business  cars pull down us retail figures us retail sal...
2221       politics  kilroy unveils immigration policy ex-chatshow ...
2222  entertainment  rem announce new glasgow concert us band rem h...
2223       politics  how political squabbles snowball it s become c...
2224          sport  souness delight at euro progress boss graeme s...

In [10]:
df.shape

(2225, 2)

In [6]:
df.category.value_counts()

sport            511
business         510
politics         417
tech             401
entertainment    386
Name: category, dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  2225 non-null   object
 1   text      2225 non-null   object
dtypes: object(2)
memory usage: 34.9+ KB

In [9]:
df.isnull().sum()

category    0
text        0
dtype: int64

In [11]:
df = df.drop_duplicates()
df.shape

(2126, 2)

In [12]:
df.tail()

           category                                               text
2220       business  cars pull down us retail figures us retail sal...
2221       politics  kilroy unveils immigration policy ex-chatshow ...
2222  entertainment  rem announce new glasgow concert us band rem h...
2223       politics  how political squabbles snowball it s become c...
2224          sport  souness delight at euro progress boss graeme s...

In [13]:
df = df.reset_index()

In [ ]:
df.drop('index',inplace=True,axis=1)

In [16]:
df.tail()

           category                                               text
2121       business  cars pull down us retail figures us retail sal...
2122       politics  kilroy unveils immigration policy ex-chatshow ...
2123  entertainment  rem announce new glasgow concert us band rem h...
2124       politics  how political squabbles snowball it s become c...
2125          sport  souness delight at euro progress boss graeme s...

In [7]:
import re
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [17]:
from nltk.corpus import stopwords

In [19]:
corpus = []
for i in range(0, len(df)):
  text = re.sub('[^a-zA-Z]', ' ', df['text'][i])
  text = text.lower()
  text = ' '.join((word) for word in text.split() if word not in stopwords.words('english'))
  corpus.append(text)

Tf-Idf Vectorizer

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=2000,ngram_range=(1,2))

X = tfidf.fit_transform(corpus).toarray()

In [41]:
X[4:9]

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.02917743, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [42]:
X.shape

(2126, 2000)

In [35]:
y = df.category

In [36]:
y

0                tech
1            business
2               sport
3               sport
4       entertainment
            ...
2121         business
2122         politics
2123    entertainment
2124         politics
2125            sport
Name: category, Length: 2126, dtype: object

In [43]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 42)

In [44]:
X_train.shape , X_test.shape

((1700, 2000), (426, 2000))

Model Building

In [45]:
#LogisticRegression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
lr = LogisticRegression()

lr.fit(X_train,y_train)
y_pred1 = lr.predict(X_test)

print("******** LogisticRegression ********")
print(f'Accuracy is : {accuracy_score(y_pred1,y_test)}')

******** LogisticRegression ********
Accuracy is : 0.9647887323943662

In [47]:
from sklearn.naive_bayes import MultinomialNB
mnb = MultinomialNB()

mnb.fit(X_train,y_train)
y_pred3 = mnb.predict(X_test)

print("******** MultinomialNB ********")
print(f'Accuracy is : {accuracy_score(y_pred3,y_test)}')

******** MultinomialNB ********
Accuracy is : 0.9788732394366197

In [48]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()

rf.fit(X_train,y_train)
y_pred4 = rf.predict(X_test)

print("******** RandomForestClassifier ********")
print(f'Accuracy is : {accuracy_score(y_pred4,y_test)}')

******** RandomForestClassifier ********
Accuracy is : 0.9530516431924883

In [49]:
from xgboost import XGBClassifier
xgb = XGBClassifier()

xgb.fit(X_train,y_train)
y_pred2 = xgb.predict(X_test)

print("******** XGBClassifier ********")
print(f'Accuracy is : {accuracy_score(y_pred2,y_test)}')

******** XGBClassifier ********
Accuracy is : 0.9507042253521126

Predict on Random text

In [50]:
pred = mnb.predict(tfidf.transform(['NEW DELHI: Prime Minister Narendra Modi on Friday choked with emotion while thanking doctors, frontline workers during video conference with them. "As a servant of Kashi, I thank everyone in Varanasi, especially the doctors, nurses, technicians, ward boys and ambulance drivers who have done a commendable work," PM said.']))

In [51]:
print(pred)

['politics']

In [56]:
pred = mnb.predict(tfidf.transform(["India’s largest public sector bank State Bank of India (SBI) on Friday reported a standalone net profit of Rs 6,450.75 crore for quarter ended March 2021 (Q4FY21) aided by fewer provisions on bad loans. The lender’s PAT was 80.14 per cent higher than previous year’s profit of Rs 3,580.8 crore. On a quarterly basis, the bottom line expanded 24.14 per cent."]))

In [57]:
print(pred)

['business']

In [59]:
import pickle
f = open('mnb.pickle', 'wb')
pickle.dump(mnb, f)
f.close()

f = open('tfidf.pickle', 'wb')
pickle.dump(tfidf, f)
f.close()